Source: ros-indigo-rqt-pose-view
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://wiki.ros.org/rqt_pose_view
Standards-Version: 3.9.2

Package: ros-indigo-rqt-pose-view
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-opengl, python-rospkg, ros-indigo-geometry-msgs, ros-indigo-gl-dependency, ros-indigo-python-qt-binding (>= 0.2.19), ros-indigo-rospy, ros-indigo-rostopic, ros-indigo-rqt-gui, ros-indigo-rqt-gui-py, ros-indigo-rqt-py-common, ros-indigo-tf
Description: rqt_pose_view provides a GUI plugin for visualizing 3D poses.
