Source: ros-melodic-rqt-pose-view
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: http://wiki.ros.org/rqt_pose_view
Standards-Version: 3.9.2

Package: ros-melodic-rqt-pose-view
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-opengl, python-rospkg, ros-melodic-geometry-msgs, ros-melodic-gl-dependency, ros-melodic-python-qt-binding (>= 0.2.19), ros-melodic-rospy, ros-melodic-rostopic, ros-melodic-rqt-gui, ros-melodic-rqt-gui-py, ros-melodic-rqt-py-common, ros-melodic-tf
Description: rqt_pose_view provides a GUI plugin for visualizing 3D poses.
