Source: ros-lunar-rqt-pose-view
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-lunar-catkin
Homepage: http://wiki.ros.org/rqt_pose_view
Standards-Version: 3.9.2

Package: ros-lunar-rqt-pose-view
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-opengl, python-rospkg, ros-lunar-geometry-msgs, ros-lunar-gl-dependency, ros-lunar-python-qt-binding (>= 0.2.19), ros-lunar-rospy, ros-lunar-rostopic, ros-lunar-rqt-gui, ros-lunar-rqt-gui-py, ros-lunar-rqt-py-common, ros-lunar-tf
Description: rqt_pose_view provides a GUI plugin for visualizing 3D poses.
